
body {
    margin: 0; 
  }
  
  .background-container {
    display: flex;
    height: 100vh; 
    width: 100%; 
    background-image: url('../assets/onama.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: absolute;
    top: 164px;
  }
  
  .left-side {
    width: 40%; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    border-radius: 10px; 
    margin: 20px; 
    margin-left: 80px;
    padding: 20px; 
    background-color: #FFFFFF;
    opacity: 0.6;
  }
  
  .content {
    text-align: left;
  }
  
  .content h2 {
    margin-bottom: 10px;
    color: black;
  }
  
  .pOnama{
    font-size: 25px;
    color: black;
  }