.background {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/registracija.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1; 
    color: #5B3004;
  }
  
  .form-container {
    background-color: #FFFFFFC7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
    width: 35%;
    margin: 90px;
  }
  
  .form-container h1 {
    margin-bottom: 0px;
    color: #5B3004;
  }
  .form-group {
    margin-bottom: 35px;
    text-align: left;
    display: block;
    align-items: center;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #5B3004;
    flex: 1;
  }
  
  .form-group input {
    width: calc(100% - 40px);
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    font-size: 16px;
    color: #5B3004;
    margin-left: 10px;
  }
  
  .form-group input:focus {
    outline: none;
    border-bottom: 1px solid #945618D1;
  }
  
  .form-group img {
    width: 24px;
    height: 24px;
  }
  
  .form-container button {
    padding: 10px 20px;
    background-color: #945618D1;
    color: #5B3004;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .form-container button:hover {
    background-color: #5B3004;
    color: #FFFFFFC7;
  }
  